@CHARSET "UTF-8";
@CHARSET "UTF-8";
.pixsearch_ng_popup
{
    background-color: #FFFFFF;
    border: 4px solid #EEEEEE;
}

.pixsearch_ng_popup .ps_ng_head .ps_ng_result
{
	background-color:#EEEEEE;
	font-size:14px;
	font-weight:bold;
	padding:4px;
}

.pixsearch_ng_popup .ps_row_ng_0,
.pixsearch_ng_popup .ps_row_ng_1
{
	background-color:#FFFFFF;
	border-top:2px solid #EEEEEE;
	padding:5px;
}

.pixsearch_ng_popup .ps_row_ng_0_head,
.pixsearch_ng_popup .ps_row_ng_1_head
{
	padding: 3px 0;
	font-family: arial,helvetica,sans-serif;
	font-size: 0.8em;
	text-decoration: none !important;
}

.pixsearch_ng_popup .ps_row_ng_0_head .ps_row_ng_0_catlink,
.pixsearch_ng_popup .ps_row_ng_1_head .ps_row_ng_1_catlink
{
	/*font-size: 0.8em;*/
	font-size: 1.2em;
}

/*.pixsearch_ng_popup .ps_row_ng_0_head .ps_row_ng_0_catlink a:hover, ul.menu li a:active, ul.menu li a:focus, ul.menu li.active a:hover, ul.menu li.active a:active, ul.menu li.active a:focus,
.pixsearch_ng_popup .ps_row_ng_1_head .ps_row_ng_1_catlink a:hover, ul.menu li a:active, ul.menu li a:focus, ul.menu li.active a:hover, ul.menu li.active a:active, ul.menu li.active a:focus
{
    color: #638420;
}*/
.ps_row_ng_0_readmore,
.ps_row_ng_1_readmore,
.ps_ng_link_next,
.ps_ng_link_prev,
.ps_ng_link_viewall
{
	font-size: 0.8em;
}

.pixsearch_ng_popup .ps_row_ng_0_innerbody,
.pixsearch_ng_popup .ps_row_ng_1_innerbody
{
	padding-bottom: 3px;
	font-size: 0.8em;
}
.pixsearch_ng_popup .ps_row_ng_0_innerbody .highlight,
.pixsearch_ng_popup .ps_row_ng_1_innerbody .highlight
{
	font-weight: bold;
}

.pixsearch_ng_popup .ps_ng_footer_links
{
	border-top:2px solid #EEEEEE;
	padding:5px;
	overflow: hidden;
}

.pixsearch_ng_popup .ps_ng_footer_links .ps_ng_link_prev
{
	float: left;
}

.pixsearch_ng_popup .ps_ng_footer_links .ps_ng_link_next
{
	float: right;
}

.pixsearch_ng_popup .ps_ng_viewall
{
	background-color:#EEEEEE;
	overflow: hidden;
	padding:5px;
	text-align: center;
}

.ps_ng_search_image
{
	cursor:pointer;
	vertical-align: top;
}
.ps_results_ng
{
	width: 500px !important;
}
	